

//Cart

.shopping-cart{
    position: relative;
    left: -4px;
    top:48px;
  }



/*
   * Sidebar
   */

   .sidebar {
    // position: fixed;
     top: 0;
     bottom: 0;
     left: 40;
     display: contents;
     z-index: 0; /* Behind the navbar */
     padding: 48px 0 0; /* Height of navbar */
     box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
   }
 
   
   
   .sidebar-sticky {
     position: relative;
     top: 0;
     left: 100;
     height: calc(100vh - 48px);
     padding-top: .5rem;
     overflow-x: hidden;
     overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
     width:100%;
     padding:.5rem;
   }
 
   .sidebar__close{
     display:none;
   }

   nav .sidebar{
    top: 28px !important;
  }
  
   
   @supports ((position: -webkit-sticky) or (position: sticky)) {
     .sidebar-sticky {
       position: -webkit-sticky;
       position: sticky;
       top: 39px;
       left:100
     }
   }
   
   .sidebar .nav-link {
     font-weight: 500;
     color: #333;
   }
   
   .sidebar .nav-link .feather {
     margin-right: 4px;
     color: #999;
   }
   
   .sidebar .nav-link.active {
     color: #007bff;
   }
   
   .sidebar .nav-link:hover .feather,
   .sidebar .nav-link.active .feather {
     color: inherit;
   }
   
   .sidebar-heading {
     font-size: .75rem;
     text-transform: uppercase;
   }


    
  
.product-checkout__trash-icon{
    position: absolute;
    top: 33%;
    right: 0;
    width:50px;
    height:50px;
    display:inline-block;
  }
  
  .checkout-cart{
    overflow-y: scroll;
    height: 42vh;
   @media (max-width: 924px){
     height:100vh;
   }
    
  }
  
  .checkout-cart__title{
      margin-right:10px
  }
  
  .checkout-cart__header{
    justify-content: space-between !important;
  }
  
  .checkout-cart__container{
    padding-left:0px;
    top: 10px;
      position: relative;
  }



@media (max-width: 924px) {
    .active{
      display: block !important;
      position: absolute !important;
      width:100% !important;
  }
   .hidden{
    display:none;
  }
  
  
  .sidebar__close{
    display: flex !important;
    position: relative !important;
    top: -12px !important;
  }
  
  .sidebar-sticky{
    margin-left: 4px
  }
  
  button.close{
    top: -1px !important;
  }
  
  
  
  .checkout-cart__control{
    position: absolute;
    top: 64px;
    right: 6px;
    z-index:1;
    @media (max-width: 924px) {
      display: none !important;
    }
  }
  }


  .checkout-cart__control-product{
    position: absolute !important;
      top: 9px !important;
      right: 0 !important;
      display:none !important;
      @media (max-width: 924px) {
        display: inline-block !important;
       // right: 71px !important;
      }
  }

  .checkout-item__product{
    width: 90% !important;
  }
  
  .cart-add{
    position: relative;
      bottom: 166px;
      padding: 20px;
      float: 0;
      background-color: #F8F9FA;
      width: 265px;
      border: 1px solid #DEE2E6;
      float: right;
  }
  
  
  .cart-add__button{
    width: 100%;
  }