[role="main"] {
  padding-top: 48px;
}

.product-item__image {
  width: 100%;
}

.product-item__quantity {
  width: 55px;
  border: none;
}

.product-item__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-item__cart-container-button {
  float: right !important;
  width: 88px !important;
  top: 2px !important;
  position: relative !important;
}

.product-item__cart-button {
  font-size: .6em !important;
}

.product-listing__add-selected {
  height: 23px !important;
  font-size: 0.5em !important;
  width: 110px !important;
  font-weight: 500 !important;
}

.product-listing {
  border: 1px solid #F8F9FA !important;
  padding-right: 0 !important;
}

.table {
  border: 1px solid #DFE0E1;
  margin-bottom: 0 !important;
}

.table td {
  border-top: 1px dotted #dee2e6;
}

.product-listing__checkbox-column {
  text-align: center;
}

.product-listing__price-column {
  text-align: center;
}

.product-listing__description {
  font-size: .9em;
}

.sticky {
  position: fixed;
  width: 200px;
}

.feather {
  width: 42px;
  height: 23px;
}

/*
   * Sidebar
   */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 40;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  -webkit-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  left: 100;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  width: 100%;
  padding: .5rem;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 39px;
    left: 100;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
   * Content
   */
[role="main"] {
  padding-top: 48px;
  /* Space for fixed navbar */
}

/*
   * Navbar
   */
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.shopping-cart {
  position: relative;
  left: -4px;
}

table {
  background-color: white;
}

.table-fix {
  overflow-y: auto;
  height: 100vh;
}

.table-fix thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

/* Just common table stuff. Really. */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px 16px;
}

th {
  background: #eee;
}

.table-fix th {
  -webkit-box-shadow: 0 0 1px 0 grey;
          box-shadow: 0 0 1px 0 grey;
}

.product-checkout__trash-icon {
  position: absolute;
  top: 33%;
  right: 0;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.product-item__product {
  width: 90% !important;
}

.cart-add {
  position: relative;
  bottom: 166px;
  padding: 20px;
  float: 0;
  background-color: #F8F9FA;
  width: 265px;
  border: 1px solid #DEE2E6;
  float: right;
  margin-right: 15px;
}

.cart-add__button {
  width: 100%;
}

.container-fluid {
  position: fixed;
}

.table__blank-row {
  height: 100px !important;
}

.table__blank-row td {
  border: none !important;
}

.product-quantity-input {
  width: 70px;
  float: left;
  position: relative;
  padding-right: 0px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.product-quantity-input .fa {
  font-size: 16px;
  position: absolute;
  right: 5px;
  border-left: 1px solid #e5e5e5;
  padding-left: 4px;
}

.product-quantity-input input {
  width: 100%;
}

.product-quantity-input .fa:hover {
  cursor: pointer;
}

.product-quantity-input .fa {
  font-size: 16px;
  position: absolute;
  right: 5px;
  border-left: 1px solid #e5e5e5;
  padding-left: 4px;
}

.product-quantity-input .fa-caret-up {
  top: 3px;
}

.product-quantity-input .fa-caret-down {
  bottom: 3px;
}

.fa-caret-down:before {
  content: "\f0d7";
}

.fa-caret-up:before {
  content: "\f0d8";
}

.table__header {
  display: table-footer-group;
}

.title-row {
  position: relative;
  top: 46px;
  left: 15px;
  border-bottom: 1px solid lightgray;
}

nav .sidebar {
  position: relative !important;
  top: -11px !important;
}
/*# sourceMappingURL=styles.css.map */