@import "./partials/_productListing.scss";
@import "./partials/_navBar.scss";
@import "./partials/_cart.scss";

//Icons

.feather {
  width: 42px;
  height: 23px;
}

.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-up:before {
  content: "\f0d8";
}

/*
Content
*/

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

.container-fluid {
  position: fixed;
}

.title-row {
  position: relative;
  top: 46px;
  left: 15px;
  border-bottom: 1px solid lightgray;
}
